.background {
    background-color: white;

}
.wrapper {
    margin: 0 auto;
    width: 80%;
    height:auto;     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.leftTop {
    display: flex;
    align-items:center;
    height:25vw;
    width: 100%;
    position: relative;
}

.textSubtitle{
    color: black;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 8px;
    text-align: center;
}

.homeSubtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:3rem;
    margin-top: 5rem;
}

.middleTitle {
    margin: 0 auto;
}

.bgimages {
    height: 95%;
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 6px 9px 9px;
}

.homeLogo {
    width: 20rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, 50%);
  
}

.home-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:6rem;
}

.home-nav-link {
    text-decoration: none;
    color: black;
    font-family: "Akaya Telivigala", cursive;
    margin: 3rem;
    font-size: 2rem;

    
}

.home-nav-link.active {
    text-decoration:underline;
}