.productsDecoration {
    display: flex;
    align-items:center;
    height:25vw;
    width: 100%;
    position: relative;
}

.productsWrap {
    width: 80%;
}

.products-nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.products-nav-link {
    text-decoration: none;
    color: black;
    font-family: "Akaya Telivigala", cursive;
    margin: 5rem 0 5rem 0;
    font-size: 1.5rem;

    
}

.products-nav-link.active {
    text-decoration:underline;
}