.subtitle-link {
    border-bottom: 1px solid black;
    align-self: flex-start;
    font-size: 1.3rem;
    text-decoration: none;
    color:black;
}

.subtitle-link p {
    margin: 4px;
}

.subtitlesCon{
    
    width: 70%;
}

.description {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:hidden;
  
  }

  
  .gallery {
    width: 50%;
    height:92vh;
    display: flex;
    align-items:center;
    position: sticky;
    top: 0;
    align-self: flex-start;
  }