.footerCon {
    background-color: rgb(255, 255, 255);
    display: grid;
    color:black;
    font-family: 'Great Vibes', cursive;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "subtitle subtitle subtitle"
                         "leftCol middleCol rightCol";
    width: 80%;   
    border-top:  1px solid black;
    margin: 1rem auto 0 auto;
}

.subtitle {
    grid-area: subtitle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    letter-spacing: 5px;
    font-size: 0.8rem;
}

.footerWrap{
    width: 100%;
}
.dividerBottom {
    color: black;
    width: 70%;
    
}

.footerLeftCol {
    grid-area: leftCol;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4rem;
    align-items: center;
    font-family: "Akaya Telivigala", cursive;
    font-size: 1rem;
    box-sizing: border-box;

}

.footer-nav-link {
    text-decoration: none;
    color: white;
    font-family: "Akaya Telivigala", cursive;
    font-size: 1rem;
}

.footerLinks {
    display: flex;
    flex-direction: column  ;
}