.mobile-nav-links {
    text-decoration: none;
    color: black;
    font-family: "Akaya Telivigala", cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    padding: 1rem;
}

.mobile-nav-link p {
    text-decoration: none;
    color: black;
    font-family: "Akaya Telivigala", cursive;
    margin: 0;
    
}

.nav-link.active {
    text-decoration:underline;
    font-family: "Akaya Telivigala", cursive;  
}