.bar {
    background-color: white;
    width:80%;
    height: 8vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 1rem;
    font-size:1.4rem;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.logoContainer {
    display: flex;
    justify-items: flex-start;
    flex-direction: row;
    align-items: center;
    gap:1rem;
    margin-right: 2rem;
    cursor: pointer;

}

.menuContainer {
    display: flex;
    justify-items: flex-start;
    flex-direction: row;
    align-items: center;
    gap:1rem;
    margin-left: 2rem;
    cursor: pointer;

    
}

.navWrap {
    width: 100%;
}

.togglerCon {
display: flex;
justify-items: flex-start;
flex-direction: row;
align-items: center;
gap:1rem;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: "Akaya Telivigala", cursive;
    margin: 0.5rem;
    
}

a {
    text-decoration: none;
}

.menuLink {
    text-decoration: none;
    color: black;
    font-family: "Akaya Telivigala", cursive;

}

@media (max-width: 1100px) {
.bar {
    width: 90%;
    font-size: 1.2rem;
}

}