.nav-links {
    text-decoration: none;
    color: black;
    font-family: "Akaya Telivigala", cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: "Akaya Telivigala", cursive;
    margin: 3rem;
    
}

.nav-link.active {
    text-decoration:underline;
    font-family: "Akaya Telivigala", cursive;  
}